@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/mauve.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: darkcyan;
}

/* reset */
input,
textarea,
button {
  all: unset;
}
